{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/anime_list.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-end mb-3">
  <a href="add" type="button" class="btn btn-primary">追加</a>
</div>

<div class="mb-5">

  <div class="accordion" id="anime-filter">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          絞り込み
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#anime-filter">
        <div class="accordion-body">

          <p class="h4">放送時期</p>
          {% for p in period %}
          {% if p.id in selected_period %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="{{p.id}}" id="period-{{p.id}}" name="period" checked>
            <label class="form-check-label" for="period-{{p.id}}">
              {{ p }}
            </label>
          </div>
          {%  else %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="{{p.id}}" id="period-{{p.id}}" name="period">
            <label class="form-check-label" for="period-{{p.id}}">
              {{ p }}
            </label>
          </div>
          {% endif %}
          {% endfor %}

          <p class="h4 mt-3">ジャンル</p>
          {% for g in genre %}
          {% if g.id in selected_genre %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="{{g.id}}" id="genre-{{g.id}}" name="genre" checked>
            <label class="form-check-label" for="genre-{{g.id}}">
              {{ g }}
            </label>
          </div>
          {% else %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="{{g.id}}" id="genre-{{g.id}}" name="genre">
            <label class="form-check-label" for="genre-{{g.id}}">
              {{ g }}
            </label>
          </div>
          {% endif %}
          {% endfor %}


          <div class="d-flex justify-content-end mt-3">
            <button id="filter-btn" type="button" class="btn btn-primary">絞り込み</button>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>

<div id="anime-list" class="d-flex flex-wrap justify-content-between">
  {% for anime in anime_list %}
  <div class="image-box">
    <a href="detail?id={{anime.id}}">
      <div class="image-container">
        <img src="{{anime.image}}" alt="Your Image">
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function () {
    $('#filter-btn').click(function () {

      const periodCheckboxes = document.querySelectorAll('input[name="period"]:checked');
      let periodParams = "";
      periodCheckboxes.forEach(function (checkbox) {
        periodParams += "p[]=" + checkbox.value + "&";
      });

      const genreCheckboxes = document.querySelectorAll('input[name="genre"]:checked');
      let genreParams = "";
      genreCheckboxes.forEach(function (checkbox) {
        genreParams += "g[]=" + checkbox.value + "&";
      });

      window.location.href = 'http://127.0.0.1:8000/anime?' + periodParams + genreParams;
    });
  });
</script>
{% endblock %}