{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}

    <table class="table">
        <thead>
          <tr>
            <th>曲名</th>
            <th>ジャンル</th>
            <th>アーティスト</th>
            <th>Youtubeへ</th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
          <tr>
            <td>{{ song.name }}</td>
            <td>{{ song.genre }}</td>
            <td>{{ song.artist }}</td>
            <td>
              <a href="{{song.url}}" target="_blank">
                <img src="{% static 'external-link.svg' %}" />
            </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}