{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/watch.css' %}">
{% endblock %}

{% block content %}
<input id="video-id" type="text" value="{{video_id}}" hidden>
<video id="my-video" class="video-js" controls data-setup="{}" playsinline>
    <source src={{video}} />
</video>
<div class="d-flex justify-content-between align-self-center mt-3">
    <button class="btn btn-outline-dark" type="button">
        <a href={{previous}}>Previous</a>
    </button>
    <p class=" fs-1"></p>
    <button class="btn btn-outline-dark" type="button">
        <a href={{next}}>Next</a>
    </button>
</div>

<section class="mb-5">
    <h3 class="heading">コメント</h3>

    <textarea class="form-control mb-3" id="commentInput" rows="3"></textarea>
    <div class="d-flex justify-content-end mb-3 mb-5">
        <button id="comment-btn" type="button" class="btn btn-primary">コメントする</button>
    </div>

    <div id="commnet-list">
        {% for c in comments %}
        <div class="card mb-3">
            <div class="card-body">
                {{c.comment}}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}


{% block script %}
<script>window.HELP_IMPROVE_VIDEOJS = false;</script>
<script src=" https://vjs.zencdn.net/8.3.0/video.min.js"></script>
<script>
    const video_id = $('#video-id').val()

    $('#comment-btn').click(function () {
        let comment = $('#commentInput').val()

        $.ajax({
            url: '/video/add_comment_api/',
            method: 'POST',
            data: { video: video_id, comment: comment },
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            },
            success: function (data) {
                console.log(data)
                $('#commnet-list').append(
                    `
                <div class="card mb-3">
                    <div class="card-body">
                        ${data['new_comment']}
                    </div>
                </div>
                `
                )
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });

    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}