{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/japan2.css' %}">
{% endblock %}

{% block content %}
<div id="jp_map">
    <ul class="hokkaido" aria-label="北海道">
        <li class="hokkaido"><a href="?prefecture=hokkaido"><span class="pref_name">北海道</span></a></li>
    </ul>
    <ul class="tohoku" aria-label="東北">
        <li class="aomori"><a href="?prefecture=aomori"><span class="pref_name">青森</span></a></li>
        <li class="akita"><a href="?prefecture=akita"><span class="pref_name">秋田</span></a></li>
        <li class="iwate"><a href="?prefecture=iwate"><span class="pref_name">岩手</span></a></li>
        <li class="yamagata"><a href="?prefecture=yamagata"><span class="pref_name">山形</span></a></li>
        <li class="miyagi"><a href="?prefecture=miyagi"><span class="pref_name">宮城</span></a></li>
        <li class="fukushima"><a href="?prefecture=fukushima"><span class="pref_name">福島</span></a></li>
    </ul>
    <ul class="kanto" aria-label="関東">
        <li class="gunma"><a href="?prefecture=gunma"><span class="pref_name">群馬</span></a></li>
        <li class="tochigi"><a href="?prefecture=tochigi"><span class="pref_name">栃木</span></a></li>
        <li class="ibaraki"><a href="?prefecture=ibaraki"><span class="pref_name">茨城</span></a></li>
        <li class="saitama"><a href="?prefecture=saitama"><span class="pref_name">埼玉</span></a></li>
        <li class="chiba"><a href="?prefecture=chiba"><span class="pref_name">千葉</span></a></li>
        <li class="tokyo"><a href="?prefecture=tokyo"><span class="pref_name">東京</span></a></li>
        <li class="kanagawa"><a href="?prefecture=kanagawa"><span class="pref_name">神奈川</span></a></li>
    </ul>
    <ul class="chubu" aria-label="中部">
        <li class="nigata"><a href="?prefecture=nigata"><span class="pref_name">新潟</span></a></li>
        <li class="toyama"><a href="?prefecture=toyama"><span class="pref_name">富山</span></a></li>
        <li class="ishikawa"><a href="?prefecture=ishikawa"><span class="pref_name">石川</span></a></li>
        <li class="fukui"><a href="?prefecture=fukui"><span class="pref_name">福井</span></a></li>
        <li class="nagano"><a href="?prefecture=nagano"><span class="pref_name">長野</span></a></li>
        <li class="gifu"><a href="?prefecture=gifu"><span class="pref_name">岐阜</span></a></li>
        <li class="yamanashi"><a href="?prefecture=yamanashi"><span class="pref_name">山梨</span></a></li>
        <li class="aichi"><a href="?prefecture=aichi"><span class="pref_name">愛知</span></a></li>
        <li class="shizuoka"><a href="?prefecture=shizuoka"><span class="pref_name">静岡</span></a></li>
    </ul>
    <ul class="kansai" aria-label="近畿">
        <li class="kyoto"><a href="?prefecture=kyoto"><span class="pref_name">京都</span></a></li>
        <li class="shiga"><a href="?prefecture=shiga"><span class="pref_name">滋賀</span></a></li>
        <li class="osaka"><a href="?prefecture=osaka"><span class="pref_name">大阪</span></a></li>
        <li class="nara"><a href="?prefecture=nara"><span class="pref_name">奈良</span></a></li>
        <li class="mie"><a href="?prefecture=mie"><span class="pref_name">三重</span></a></li>
        <li class="wakayama"><a href="?prefecture=wakayama"><span class="pref_name">和歌山</span></a></li>
        <li class="hyogo"><a href="?prefecture=hyougo"><span class="pref_name">兵庫</span></a></li>
    </ul>
    <ul class="chugoku" aria-label="中国">
        <li class="tottori"><a href="?prefecture=tottori"><span class="pref_name">鳥取</span></a></li>
        <li class="okayama"><a href="?prefecture=okayama"><span class="pref_name">岡山</span></a></li>
        <li class="shimane"><a href="?prefecture=shimane"><span class="pref_name">島根</span></a></li>
        <li class="hiroshima"><a href="?prefecture=hiroshima"><span class="pref_name">広島</span></a></li>
        <li class="yamaguchi"><a href="?prefecture=yamaguchi"><span class="pref_name">山口</span></a></li>
    </ul>
    <ul class="shikoku" aria-label="四国">
        <li class="kagawa"><a href="?prefecture=kagawa"><span class="pref_name">香川</span></a></li>
        <li class="ehime"><a href="?prefecture=ehime"><span class="pref_name">愛媛</span></a></li>
        <li class="tokushima"><a href="?prefecture=tokushima"><span class="pref_name">徳島</span></a></li>
        <li class="kochi"><a href="?prefecture=kouchi"><span class="pref_name">高知</span></a></li>
    </ul>
    <ul class="kyushu" aria-label="九州">
        <li class="fukuoka"><a href="?prefecture=fukuoka"><span class="pref_name">福岡</span></a></li>
        <li class="saga"><a href="?prefecture=saga"><span class="pref_name">佐賀</span></a></li>
        <li class="nagasaki"><a href="?prefecture=nagasaki"><span class="pref_name">長崎</span></a></li>
        <li class="oita"><a href="?prefecture=oita"><span class="pref_name">大分</span></a></li>
        <li class="kumamoto"><a href="?prefecture=kumamoto"><span class="pref_name">熊本</span></a></li>
        <li class="miyazaki"><a href="?prefecture=miyazaki"><span class="pref_name">宮崎</span></a></li>
        <li class="kagoshima"><a href="?prefecture=kagoshima"><span class="pref_name">鹿児島</span></a></li>
    </ul>
    <ul class="okinawa" aria-label="沖縄">
        <li class="okinawa"><a href="?prefecture=okinawa"><span class="pref_name">沖縄</span></a></li>
    </ul>
</div>
{% endblock %}