{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/japan2.css' %}">
{% endblock %}

{% block content %}
<div id="jp_map">
    <ul class="hokkaido" aria-label="北海道">
        <li class="hokkaido"><a href="list?prefecture=北海道"><span class="pref_name">北海道</span></a></li>
    </ul>
    <ul class="tohoku" aria-label="東北">
        <li class="aomori"><a href="list?prefecture=青森"><span class="pref_name">青森</span></a></li>
        <li class="akita"><a href="list?prefecture=秋田"><span class="pref_name">秋田</span></a></li>
        <li class="iwate"><a href="list?prefecture=岩手"><span class="pref_name">岩手</span></a></li>
        <li class="yamagata"><a href="list?prefecture=山形"><span class="pref_name">山形</span></a></li>
        <li class="miyagi"><a href="list?prefecture=宮城"><span class="pref_name">宮城</span></a></li>
        <li class="fukushima"><a href="list?prefecture=福島"><span class="pref_name">福島</span></a></li>
    </ul>
    <ul class="kanto" aria-label="関東">
        <li class="gunma"><a href="list?prefecture=群馬"><span class="pref_name">群馬</span></a></li>
        <li class="tochigi"><a href="list?prefecture=栃木"><span class="pref_name">栃木</span></a></li>
        <li class="ibaraki"><a href="list?prefecture=茨城"><span class="pref_name">茨城</span></a></li>
        <li class="saitama"><a href="list?prefecture=埼玉"><span class="pref_name">埼玉</span></a></li>
        <li class="chiba"><a href="list?prefecture=千葉"><span class="pref_name">千葉</span></a></li>
        <li class="tokyo"><a href="list?prefecture=東京"><span class="pref_name">東京</span></a></li>
        <li class="kanagawa"><a href="list?prefecture=神奈川"><span class="pref_name">神奈川</span></a></li>
    </ul>
    <ul class="chubu" aria-label="中部">
        <li class="nigata"><a href="list?prefecture=新潟"><span class="pref_name">新潟</span></a></li>
        <li class="toyama"><a href="list?prefecture=富山"><span class="pref_name">富山</span></a></li>
        <li class="ishikawa"><a href="list?prefecture=石川"><span class="pref_name">石川</span></a></li>
        <li class="fukui"><a href="list?prefecture=福井"><span class="pref_name">福井</span></a></li>
        <li class="nagano"><a href="list?prefecture=長野"><span class="pref_name">長野</span></a></li>
        <li class="gifu"><a href="list?prefecture=岐阜"><span class="pref_name">岐阜</span></a></li>
        <li class="yamanashi"><a href="list?prefecture=山梨"><span class="pref_name">山梨</span></a></li>
        <li class="aichi"><a href="list?prefecture=愛知"><span class="pref_name">愛知</span></a></li>
        <li class="shizuoka"><a href="list?prefecture=静岡"><span class="pref_name">静岡</span></a></li>
    </ul>
    <ul class="kansai" aria-label="近畿">
        <li class="kyoto"><a href="list?prefecture=京都"><span class="pref_name">京都</span></a></li>
        <li class="shiga"><a href="list?prefecture=滋賀"><span class="pref_name">滋賀</span></a></li>
        <li class="osaka"><a href="list?prefecture=大阪"><span class="pref_name">大阪</span></a></li>
        <li class="nara"><a href="list?prefecture=奈良"><span class="pref_name">奈良</span></a></li>
        <li class="mie"><a href="list?prefecture=三重"><span class="pref_name">三重</span></a></li>
        <li class="wakayama"><a href="list?prefecture=和歌山"><span class="pref_name">和歌山</span></a></li>
        <li class="hyogo"><a href="list?prefecture=兵庫"><span class="pref_name">兵庫</span></a></li>
    </ul>
    <ul class="chugoku" aria-label="中国">
        <li class="tottori"><a href="list?prefecture=鳥取"><span class="pref_name">鳥取</span></a></li>
        <li class="okayama"><a href="list?prefecture=岡山"><span class="pref_name">岡山</span></a></li>
        <li class="shimane"><a href="list?prefecture=島根"><span class="pref_name">島根</span></a></li>
        <li class="hiroshima"><a href="list?prefecture=広島"><span class="pref_name">広島</span></a></li>
        <li class="yamaguchi"><a href="list?prefecture=山口"><span class="pref_name">山口</span></a></li>
    </ul>
    <ul class="shikoku" aria-label="四国">
        <li class="kagawa"><a href="list?prefecture=香川"><span class="pref_name">香川</span></a></li>
        <li class="ehime"><a href="list?prefecture=愛媛"><span class="pref_name">愛媛</span></a></li>
        <li class="tokushima"><a href="list?prefecture=徳島"><span class="pref_name">徳島</span></a></li>
        <li class="kochi"><a href="list?prefecture=高知"><span class="pref_name">高知</span></a></li>
    </ul>
    <ul class="kyushu" aria-label="九州">
        <li class="fukuoka"><a href="list?prefecture=福岡"><span class="pref_name">福岡</span></a></li>
        <li class="saga"><a href="list?prefecture=佐賀"><span class="pref_name">佐賀</span></a></li>
        <li class="nagasaki"><a href="list?prefecture=長崎"><span class="pref_name">長崎</span></a></li>
        <li class="oita"><a href="list?prefecture=大分"><span class="pref_name">大分</span></a></li>
        <li class="kumamoto"><a href="list?prefecture=熊本"><span class="pref_name">熊本</span></a></li>
        <li class="miyazaki"><a href="list?prefecture=宮崎"><span class="pref_name">宮崎</span></a></li>
        <li class="kagoshima"><a href="list?prefecture=鹿児島"><span class="pref_name">鹿児島</span></a></li>
    </ul>
    <ul class="okinawa" aria-label="沖縄">
        <li class="okinawa"><a href="list?prefecture=沖縄"><span class="pref_name">沖縄</span></a></li>
    </ul>
</div>
{% endblock %}